#add-book-form input{
    margin-bottom: 20px;
}
.add-book-date{
    width: 40%;
}
.book{
    margin-bottom: 30px;
}
.delete-book-btn{
    margin-top: 20px;
}
.book-cover-block{
    background-color: rgba(222, 222, 216, 0.97);
    min-height: 206px;
    max-width: 144px;
    position: relative;
}
.book-cover-block div, .book-cover-block p{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transform: translate(-50%, -50%);
}
.book-cover-block div{
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: 99;
 }
.book-cover-block p{
    color:#a0a0a0;
}
.add-book-form .row{
    position: relative;
}
.add-bool-alert{
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #028300;
    padding: 5px;
    display: none;
}
.cover-form{
    margin-bottom: 10px;
}
.modal-footer{
    display: flex;
    justify-content: flex-end;
}
